[submodule "sub/dircolors-solarized"]
	path = sub/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "sub/zsh-completions"]
	path = sub/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "sub/zsh-syntax-highlighting"]
	path = sub/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
