[submodule "lib/dircolors-solarized"]
	path = lib/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "lib/zsh-completions"]
	path = lib/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "lib/zsh-syntax-highlighting"]
	path = lib/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
